[Unit]
Description=uWSGI service
After=network.target nginx.service

[Service]
ExecStart=/home/ubuntu/myvenv/bin/uwsgi -i /srv/linkmoa/.linkmoa/uwsgi/linkmoa.ini

Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target