{% extends "index.html" %}
{% load static %}

{% block content %}
    <div class="d-flex" id="wrapper">
        <!-- Sidebar-->
        <div class="border-end bg-white" id="sidebar-wrapper">
            <div class="sidebar-heading border-bottom bg-light p-3"><button class="btn btn-primary" id="createFolder">폴더 생성</button></div>
            <div class="list-group list-group-flush">
                <ul class="list-group">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-4">
                        <a href="#" class="folder-name text-decoration-none">급여계산기</a>
                    </li>
                    {% for folder in folders %}
                        <li class="list-group-item d-flex justify-content-between align-items-center p-4">
                            <a href="#" class="folder-name text-decoration-none" data-folder-id="{{ folder.id }}" data-folder-name="{{ folder.name }}">{{ folder.name }}</a>
                        </li>
                    {% empty %}
                        <li class="list-group-item text-center">폴더가 없습니다.</li>
                    {% endfor %}
                </ul>

                <!-- 폴더 생성 모달 -->
                <div class="modal fade" id="folderModal" tabindex="-1" aria-labelledby="folderModalLabel">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="folderModalLabel">폴더 생성</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- 폴더 이름 입력 폼 -->
                                <form id="folderForm" method="POST" action="/folder-api/">
                                    {% csrf_token %}
                                    <div class="mb-3">
                                        <label for="folderNameInput" class="form-label">폴더 이름</label>
                                        <input type="text" class="form-control" id="folderNameInput" name="folderName" placeholder="폴더 이름을 입력하세요">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                <button id="submitFolderButton" type="submit" class="btn btn-primary" form="folderForm">저장</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                <div class="container-fluid p-1">
                    <div class="d-flex">
                        <h2>Link Moa.</h2>
                    </div>
            
                    <div class="d-flex ms-auto">
                        <ul class="navbar-nav">
                            {% if user.is_authenticated %}
                                {% comment %} <li class="nav-item active"><a class="nav-link">안녕하세요, {{ user.email }}님!</a></li> {% endcomment %}
                                <li class="nav-item active"><a class="nav-link" href="{% url 'logout' %}">로그아웃</a></li>
                            {% else %}
                                <li class="nav-item active"><a class="nav-link" href="{% url 'login' %}">로그인</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Page content-->
            <div class="container-fluid mt-5">
                {% if user.is_authenticated %}
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="d-flex justify-content-between align-items-center w-100">
                            {% if folders.0.name %}
                                <!-- 왼쪽: 폴더 이름 및 검색창 -->
                                <div class="d-flex align-items-center gap-3 w-auto">
                                    <div class="fs-1 text-center" id="selectFolder">{{ folders.0.name }}</div>
                        
                                    <!-- 검색창 -->
                                    <div class="input-group w-auto">
                                        <button class="btn btn-outline-secondary" onclick="searchUrls()">
                                            <i class="fi fi-rr-search"></i>
                                        </button>
                                        <input type="text" class="form-control" placeholder="검색..." id="folderSearch" oninput="searchUrls()">
                                    </div>
                                </div>
                        
                                <!-- 오른쪽: 버튼들 -->
                                <div class="d-flex align-items-center gap-3">
                                    <button id="updateFolder" class="btn btn-outline-primary btn-sm">
                                        <i class="fi fi-tr-pen-square"></i>
                                    </button>
                                    <button class="btn btn-outline-danger btn-sm" onclick="deleteFolder()">
                                        <i class="fi fi-rr-trash"></i>
                                    </button>
                                    <button type="button" class="btn btn-primary" id="addUrlButton">URL 추가</button>
                                </div>
                        
                            {% else %}
                                <div class="fs-1" id="selectFolder">폴더를 먼저 생성해주세요.</div>
                            {% endif %}

                            <!-- URL 추가 모달 -->
                            <div class="modal fade" id="urlModal" tabindex="-1" aria-labelledby="urlModalLabel">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="urlModalLabel">URL 추가</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <!-- 로딩 스피너 -->
                                            <div id="loadingSpinner" class="spinner-border text-primary" style="position: absolute; top: 50%; left: 50%; display: none;" role="status">
                                                <span class="visually-hidden">Loading...</span>
                                            </div>
                            
                                            <!-- URL 추가 입력 필드 -->
                                            <div class="mb-3">
                                                <label for="urlInput" class="form-label">URL</label>
                                                <input type="url" class="form-control" id="urlInput" name="url" placeholder="URL을 입력하세요">
                                            </div>
                                            <div class="mb-3">
                                                <label for="aliasInput" class="form-label">설명</label>
                                                <input type="text" class="form-control" id="aliasInput" name="alias" placeholder="설명을 입력하세요">
                                            </div>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-between">
                                            <!-- 왼쪽에 드롭다운 -->
                                            <div id="urlModalDropdown" class="dropdown" style="visibility: hidden;">
                                                <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="folderDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                                    폴더 선택
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="folderDropdown">
                                                    <li>
                                                        <div class="dropdown-item" data-folder-name="폴더 선택">
                                                            폴더 선택
                                                        </div>
                                                    </li>
                                                    {% for folder in folders %}
                                                        <li>
                                                            <div class="dropdown-item" data-folder-id="{{ folder.id }}" data-folder-name="{{ folder.name }}">
                                                                {{ folder.name }}
                                                            </div>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>

                                            <!-- 오른쪽에 취소 버튼과 저장 버튼 -->
                                            <div>
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                                                <button id="submitUrlButton" type="button" class="btn btn-primary" onclick="saveUrl()">저장</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    
                        {% comment %} <div class="d-flex align-items-center">
                            <input type="text" class="form-control w-100" placeholder="검색" id="folderSearch">
                        </div> {% endcomment %}
                    </div>
                    <!-- URL 카드 리스트 -->
                    {% comment %} <div id="url-list-container"> {% endcomment %}
                    {% comment %} <div id="url-list-container" class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-4">
                        <!-- URL 카드 리스트 출력부분 -->
                    </div> {% endcomment %}

                    <div id="url-list-container" class="masonry-container">
                        
                    </div>


                    

                {% else %}
                    <h1 class="mt-4">로그인 해주세용</h1>
                {% endif %}
            </div>
        </div>
        <!-- 커스텀 JS -->
        <script src="{% static 'js/main.js' %}"></script>
    </div>
{% endblock content %}

